.App {
  padding: 30px;
}

.header{
display: flex;
  justify-content: center;
}

.App > div {
  /*margin-right: 50px;*/
}

.error{
  border:1px solid red;
}

.error-message{
  color:red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
  color:red;
  text-decoration: line-through;
}

input,button{
  display: inline-block;
}

.flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}